body {
  margin: 0;
  font-family: 'Brasika', serif;
  background-color: #ebc8cb;
  ;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.painel-wrapper {
  position: relative;
  width: 90%;
  max-width: 1000px;
}


.painel-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.data {
  position: absolute;
  top: 190px;
  right: 15px;
  font-size: 1.1rem;
  background-color: #fff;
  color: #333;
  padding: 0.4rem 0.8rem;
  border-radius: 15px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.icone-user {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .icone-user img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    
  }

  .maps-img {
  width: 60px;
  height: 60px;
}
  .maps-img img{
    width: 55px;
    height: 55px;
    object-fit: contain;
    
  }
.pontinhos-img {
    position: absolute;
  top: 486px;
  left: -75px;
  font-size: 1.1rem;
 padding: 0.4rem 0.8rem;
  border-radius: 15px;
  z-index: 5;
}

.pontinhos-img img {
   width: 200px;
    height: 200px;
    object-fit: contain;
}

.painel-itens {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.bilhete {
  position: relative;
  background-color: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 4px 6px 15px rgba(0,0,0,0.2);
  font-size: 1.2rem;
  width: 200px;
  height: auto;
  min-height: 100px;
}



.pin {
  position: absolute;
  top: -15px;
  right: -10px;
  width: 40px;
  height: 40px;
  background-image: url('pins\ painel.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}


.painel-itens {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #a0216f; 
  padding: 2rem;
  border-radius: 20px;
  min-height: 400px;
  justify-content:center;
  margin-top: 100px;
}


.excluir {
  position: absolute;
  top: 0;
  right: 200px;
  background: none;
  border: none;
  color: #a0216f;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  z-index: 3;
}

#form-adicionar {
  position:fixed;
  top: 0;
  left: 255px;
  width: 65%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 1rem;
}

#texto-bilhete {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

#form-adicionar button {
  background-color:#5b4669 ;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

#form-adicionar button:hover {
  background-color: #ff8c66;
}
