* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8cace;
  font-family: 'Cormorant Garamond', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}
.logo-icon {
  border-radius: 40%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon img {
  width: 35px;
}

.logo h1 {
  font-size: 24px;
  color: #333;
  letter-spacing: 2px;
  margin-left: 10px;
}

.login-box {
  margin-top: 80px;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}


.login-icon img {
  width: 55px;
}

.login-header h2 {
  color: white;
  font-size: 24px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.login-btn {
  background-color: #9a0057;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 300px;
  justify-content: center;
  font-family: 'Cormorant Garamond', serif;
}

.login-btn:hover {
  background-color: #7a0045;
}

.login-btn img {
  width: 30px;
}

.register {
  margin-top: 20px;
}

.register a {
  color: white;
  font-size: 16px;
  text-decoration: underline;
}

.register a:hover {
  color: #cdb7b7;
}

@media (max-width: 600px) {
  .login-btn {
    font-size: 16px;
    padding: 12px 20px;
  }

  .login-icon img {
    width: 40px;
  }

  .logo h1 {
    font-size: 18px;
  }
}
